body{
    background-color:#B9E5E8;
}
h1
{
    text-align: center;
}
p{
    text-align: end;
    text-align: top;
}
#POSTER{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: #493628;
    font-family: "Playwrite GB S", cursive;
}
#QUOTE
{
    font-size: large;
    font-weight: 1000;
    font-size: 10;
    color:#243642;
}
